<h1>Upload Artwork</h1>

<%= form_for @work do |f| %>
  <%= f.label 'Work Name:' %>
  <%= f.text_field :title %>
  <br />
  <%= f.label 'Image:' %>
  <%= f.file_field :image %>
  <br /><br />
  <%= f.submit 'Upload' %>
<% end %>

<%= link_to 'Back to gallery', works_path %>
