<h1>Edit Artist Info:</h1>

<%= form_for @about do |f| %>
  <%= f.label 'Statament:' %>
  <%= f.text_area :statement %>
  <br />

  <%= f.label 'Biography:' %>
  <%= f.text_area :bio %>
  <br />

  <%= f.label 'Main image:' %>
  <%= f.file_field :image %>
  <br />

  <%= f.label 'Cover image:' %>
  <%= f.file_field :cover %>
  <br />

  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Cancel', abouts_path %>
