<div class="row justify-content-center">
  <div class="col-10">
    <h1 class="text-center">Paula Ewington</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <%= image_tag @about.image.url, class: "img-fluid"%>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#c-artist-statement" aria-expanded="false" aria-controls="c-artist-statement">
      Artist Statament
    </button>
    <div class="collapse" id="c-artist-statement">
      <div class="card card-body">
        <%= @about.statement %>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#c-artist-bio" aria-expanded="false" aria-controls="c-artist-bio">
      Biography
    </button>
    <div class="collapse" id="c-artist-bio">
      <div class="card card-body">
        <%= @about.bio %>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10">
    <%= link_to "Home", categories_path, class: 'btn btn-primary btn-block work-link' %>
    <% if session[:admin] %>
    <%= button_to 'Edit Artist info', edit_about_path(1), method: "get" %>
    <% end %>
  </div>
</div>
