<h1>Edit <%= @category.title %> info</h1>

<%= form_for @category do |f| %>
  <%= f.label 'Category title:' %>
  <%= f.text_field :title %>
  <br />

  <%= f.label 'Category cover image:' %>
  <%= f.file_field :image %>
  <br />

  <%= f.label 'Place (1 = first place, 2 = second, etc...):' %>
  <%= f.number_field :place, value: @category.position %>
  <br />
  <%= f.submit 'Save Changes' %>
<% end %>

<%= link_to 'Cancel', categories_path %>
