<div class="row">

</div>
<div class="row covers">
  <% @categories.each do |category| %>
  <div class="col-sm-6">
    <div class="card">
        <%= image_tag category.image.url, class: "card-img-top" %>
      <div class="card-block">
        <a href="<%= category_path(category.id) %>" class="btn btn-primary btn-block"><%= category.title %></a>
        <% if session[:admin] %>
          <%= button_to 'Delete', "/categories/#{category.id}", method: :delete %>
          <%= button_to 'Edit', edit_category_path(category.id), method: :get %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
