<div class="row">
  <div class="col-12">
    <div class="containter-fluid work-description category site-title p-3">
      <h3 class="text-center">Weclome to Paula Ewington's Online Gallery</h3>
    </div>
  </div>
</div>

<div class="row covers">
  <% @categories.each do |category| %>

    <div class="col-sm-6 covers-col">
      <div class="containter-fluid work-description category mb-5">
        <h5 class="text-center"><%= category.title %></h5>
        <% if session[:admin] %>
          <%= button_to 'Delete', "/categories/#{category.id}", method: :delete %>
          <%= button_to 'Edit', edit_category_path(category.id), method: :get %>
        <% end %>
      </div>
      <div class="work-cover-wrapper d-flex flex-column align-items-center">
        <div class="work-cover z-depth-5">
          <a href="<%= category_path(category.id) %>" class=""><%= image_tag category.image.url, class: "img-fluid" %></a>
        </div>
      </div>
    </div>

  <% end %>
</div>
