<div class="row covers">
  <% @works.each do |work| %>

    <div class="col-sm-6 col-md-4 covers-col">
      <div class="work-cover-wrapper d-flex flex-column align-items-center">
        <div class="work-cover z-depth-5">
          <a href="<%= work_path(work.id) %>"><img src="<%= work.image.url %>" class="img-fluid" alt="Responsive image"></a>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-7">
            <div class="containter-fluid work-description cover">
              <h5><%= work.title %></h5>
              <table>
                <tbody>
                  <tr>
                    <td class="font-weight-bold">
                      Medium:
                    </td>
                    <td>
                      <%= work.medium %>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">
                      Dimensions:
                    </td>
                    <td>
                      <%= work.size %>
                    </td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">
                      Year
                    </td>
                    <td>
                      <%= work.year %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p><%= work.caption %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>

<div class="container-fluid fixed-bottom slider fadein p-3 text-center">
  <h3><%= link_to "Return Home", categories_path, class: 'nav-link' %></h3>
  <% if session[:admin] %>
    <%= link_to "Upload new artwork to #{@category.title}", new_category_works_path(@category.id) %>
  <% end %>
</div>
