<div class="row covers">
  <% @works.each do |work| %>

    <div class="col-sm-6 col-md-4 covers-col">
      <div class="work-cover-wrapper d-flex flex-column align-items-center">
        <div class="work-cover z-depth-5">
          <a href="<%= work_path(work.id) %>"><img src="<%= work.image.url %>" class="img-fluid" alt="Responsive image"></a>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="containter-fluid work-description cover">
              <h5><%= work.title %></h5>
              <p><%= 'Claritas ninja est etiam processus dynamicus, qui ninja sequitur mutationem consuetudium lectorum. Mirum ninja est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem ninja ipsum modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in ninja futurum.' %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>

<div class="container-fluid fixed-bottom slider fadein p-3 text-center">
  <h3><%= link_to "Return Home", categories_path, class: 'nav-link' %></h3>
  <% if session[:admin] %>
    <%= link_to "Upload new artwork to #{@category.title}", new_category_works_path(@category.id) %>
  <% end %>
</div>
