<div class="row covers covers">
  <% @works.each do |work| %>

    <div class="col-sm-6 col-md-4">
      <div class="card">
          <%= image_tag work.image.url, class: "card-img-top work-cover" %>
        <div class="card-block">
          <a href="<%= work_path(work.id) %>" class="btn btn-primary btn-block"><%= work.title %></a>
          <% if session[:admin] %>
            <h4>Position: <%= work.position %></h4>
            <%= button_to 'Delete', "/works/#{work.id}", method: :delete %>
            <%= button_to 'Edit', edit_work_path(work.id), method: :get %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
  <div class="col-sm-6 col-md-4">
    
  </div>
</div>

<% if session[:admin] %>
  <%= link_to 'Upload new artwork', new_category_works_path(@category.id) %>
<% end %>
