<!DOCTYPE html>
<html>
  <head>
    <title>PaulaSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="<%= categories_path %>">
      <div class="image-holder">
        <%= image_tag "/assets/default_work", class: "img-fluid front"%>
        <div class="work-title d-flex align-items-center justify-content-center">
          <h1>Welcome</h1>
        </div>
      </a>
    </div>
  </body>
</html>
